{% extends 'base.html.twig' %}

{% block body %}
<h1>Lista de usuarios</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('registro') }}">Crear un nuevo usuario</a>
    </li>
</ul>
{% endblock %}
